.header-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.header-content1{
    width: fit-content;
    height: 28px;
    border-radius: 16px;
    background-color: #efe4ff;
    color:#6941c6;
    font-size: 14px;
    padding: 4px 12px 4px 12px;
    text-align: center;
    line-height: 2;
    font-weight: 500;
    margin-top: 96px;
    margin-bottom: 0;
}

.header-content2{
    font-size: 48px;
    font-weight: 600;
    line-height: 60px;
    color: #42307D;
    margin-top: 13px;
    margin-bottom: 0;
}

.header-content3{
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #6941C6;
    margin-top: 25px;
    margin-bottom: 0px;
}


.search-box{
    position: relative;
    display: flex;
    align-items: center;
    padding: 5px;
}

.search-box i{
    position: absolute;
    /*margin-left: 20px;*/
    /*margin-right: 20px;*/
    top:62%;
    width: 20px;
    height: 20px;
    color: #667085;
    left: 15px;
}
.search{
    width: 320px;
    height: 48px;
    gap: 6px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #667085;
    outline: none;
    border-radius: 5px;
    border: 1px solid #D0D5DD;
    margin-top: 40px;
    padding: 10px 10px 10px 45px;
    
}